.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  align-items: center;
}

.task:last-child {
  border-bottom: none;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.title {
  flex-grow: 1;
  font-weight: bold;
}

.deadline {
  font-style: italic;
}

.actions {
  margin-left: auto;
}

.actions input[type="checkbox"] {
  transform: scale(1.2);
  margin-left: 10px;
}

.new-task {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 4px;
}
