<header>
  <mat-toolbar>
    <h1>Task Manager</h1>
    <span class="spacer"></span>
    <mat-chip-listbox>
    <mat-chip-option [routerLink]="'/tasks'" #rlat="routerLinkActive" routerLinkActive="active" [selected]="rlat.isActive">Tasks</mat-chip-option>
    <mat-chip-option [routerLink]="'/archive'" routerLinkActive="active" #rlaa="routerLinkActive" [selected]="rlaa.isActive">Archive</mat-chip-option>
    </mat-chip-listbox>
  </mat-toolbar>
</header>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="accent">
  Marek Zydor
</mat-toolbar>
